<a href="https://colab.research.google.com/github/mottaquikarim/PYTH2/blob/master/src/PSETS/nb/basic_data_inclass_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## BASICS

### P1.PY

In [0]:
"""
Placeholders
"""
x = "placeholder"


# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. 
#The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.



### P2.PY

In [5]:
"""
Basic Variables
"""
# x is your favorite number
x = 3 
print(x)

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. 
#Now print it out without re-typing the number.

#fave_color is your favorite color
fave_color = "blue"

print(fave_color)
# Create another variable that represents your favorite color, and do the same steps as above.

3
blue



### P3.PY

In [6]:
"""
String Formatting
"""
#Bohemian Rhapsody
#Queen

bohemian = "Is this the real life? \n Is this just fantasy? \n caught in a landslide \n no escape from reality"

print(bohemian)

# Create a variable that contains the first 4 lines of your favorite song. 
#Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

Is this the real life?
 Is this just fantasy?
 caught in a landslide
 no escape from reality



## TYPECASTING

### P1.PY

In [7]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

five = float(five)
zero = float(zero)
neg_8 = float(neg_8)
neg_22 = float(neg_22)

print(five) 
print(type(five))
print(zero) 
print(type(zero))
print(neg_8) 
print(type(neg_8))
print(neg_22) 
print(type(neg_22))

five = int(five)
zero = int(zero)
neg_8 = int(neg_8)
neg_22 = int(neg_22)

print(five) 
print(type(five))
print(zero) 
print(type(zero))
print(neg_8) 
print(type(neg_8))
print(neg_22) 
print(type(neg_22))

5.0
<class 'float'>
0.0
<class 'float'>
-8.0
<class 'float'>
-22.0
<class 'float'>
5
<class 'int'>
0
<class 'int'>
-8
<class 'int'>
-22
<class 'int'>



### P2.PY

In [10]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. 
#Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

five = str(five)
zero = str(zero)
neg_8 = str(neg_8)
T = str(T)
F = str(F)

print(five) 
print(type(five))
print(zero)
print(type(zero))
print(neg_8)
print(type(neg_8))
print(T)
print(type(T))
print(F)
print(type(F))

five = int(5)
zero = int(zero)
neg_8 = int(neg_8)
T = bool(T)
F = bool(F)

print(five) 
print(type(five))
print(zero)
print(type(zero))
print(neg_8)
print(type(neg_8))
print(T)
print(type(T))
print(F)
print(type(F))

5
<class 'str'>
0
<class 'str'>
-8
<class 'str'>
True
<class 'str'>
False
<class 'str'>
5
<class 'int'>
0
<class 'int'>
-8
<class 'int'>
True
<class 'bool'>
True
<class 'bool'>



### P3.PY

In [20]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0

one = bool(one)
zero = bool(zero)

print(one)
print(type(one))
print(zero)
print(type(zero))

# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.

one = float(one)
print(one)
print(type(one))
zero = float(zero)
print(zero)
print(type(zero))

# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.
one = bool(one)
print(one)
print(type(one))
zero = bool(zero)
print(zero)
print(type(zero))

# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.
one = int(one)
print(one)
print(type(one))
zero = int(zero)
print(zero)
print(type(zero))

# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10
ten = bool(ten)
print(ten)
print(type(ten))

True
<class 'bool'>
False
<class 'bool'>
1.0
<class 'float'>
0.0
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
1
<class 'int'>
0
<class 'int'>
True
<class 'bool'>



### P4.PY

In [26]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
bool_true = True
bool_false = False

one = bool(one)
print(one)
print(type(one))
zero = bool(zero)
print(zero)
print(type(zero))
print(bool_true)
print(type(bool_true))
print(bool_false)
print(type(bool_false))


# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.
one = int(one)
zero = int(zero)

print(one)
print(type(one))
print(zero)
print(type(zero))


# C) Use typecasting to turn the latest values for variables 'bool_true' and 'bool_false' back into boolean values. Print the result and the datatype of the result.
print(bool_true)
print(type(bool_true))
print(bool_false)
print(type(bool_false))

True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>
1
<class 'int'>
0
<class 'int'>
True
<class 'bool'>
False
<class 'bool'>



## OPERATORS

### P1.PY

In [27]:
"""
Integer & Float Operators
"""

# Complete the specified math operations. Do the next operation on the result from the previous operation.

orig_var = 100

# Add 50

orig_var = orig_var + 50

# Subtract 90

orig_var = orig_var -90
# Multiply 10

orig_var = orig_var * 10

# Divide 150

orig_var = orig_var / 150 

# Modulus 3
orig_var = orig_var % 3

print(orig_var)

1.0



### P2.PY

In [28]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. Do NOT add any punctuation up front. 
#Add the two variables together, and print the result.
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling." 

sentence1 = "Hello there, "
sentence2 = "how are you?"

print(sentence1 + sentence2)

Hello there, how are you?



### P3.PY

In [33]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together.

# A)
a = 0
b = 2

print(a+b)

# B)
c = '0'
d = '2'

print(c+d)

# C)
e = "0"
f = 2

f = str(f)

print(e+f)

2
02
02



### P4.PY

In [37]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

print(a + b)

# B)
c = False
d = False
print (c + d)


# C)
e = True
f = False

print(e+f)

2
0
1